@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");

body {
  background: url(https://image.freepik.com/free-vector/gradient-dark-dynamic-lines-background_23-2148995950.jpg);
  margin: 30px 50px;
  line-height: 1.4;
}


/* CSS Variables */
:root {
  --primary: #141318;
  --dark: #f7f7f7;
  --light: #2b2a2a;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.main-nav a:hover {
  transform: scale(1.13);
    background: linear-gradient(270deg, #9d0090, #34005d, #0e005c, #654cea, #5f004b);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    -o-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
}

.main-nav a {
  background: var(--primary);
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  text-align: center;
  color: var(--dark);
  text-transform: uppercase;
  font-size: 1rem;
  box-shadow: var(--shadow);
  font-weight: bold;
  font-family: Tomorrow, sans-serif;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  transition: 0.2s ease;
}

.info {
  display: block;
  box-shadow: 0 0 1em 	#FF33FF;
  grid-gap: 30px;
  grid-template-columns: repeat(1, 1fr);
  padding: 1rem;
  background: #111111;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.info h1 {
  text-align: center;
  font-family: Tomorrow, sans-serif;
  text-transform: uppercase;
  text-shadow: 0 0 1em 	#FF33FF;
}
.info .size {
  font-size: 1.5rem;
  font-family: Tomorrow, sans-serif;
  text-transform: uppercase;
  text-indent: 20px;
  text-shadow: 0 0 0.1em #ff0000;
}
.info .size1 {
  font-size: 1rem;
  text-indent: 20px;
  font-family: Tomorrow, sans-serif;
}
.free {
  background: white;
  color: black;
}

footer {
  margin-top: 2rem;
  color: white;
  text-align: center;
  padding: 0rem 1.2rem;
}

@media (max-width: 700px) { 
  
.main-nav ul {
    grid-template-columns: 1fr;
  }
.main-nav ul {
    grid-template-columns: 1fr;
  }
.info {
    grid-template-columns: 1fr;
  }
.info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }
}

.sub-menu{
    display: none;
}
.main-nav ul li:hover .sub-menu{
  display: block;
  position: absolute;
  background-color: black;
  padding: 2px 2px;

}
.main-nav ul li:hover .sub-menu ul{
    /* display: block; */
    display: block;
    margin: 4px;
}
.logo { 
  background-color: #060220;

}
.logo img {
  width: 50px;
  height: 50px;
  border-radius:50%; 
 -moz-border-radius:50%; 
 -webkit-border-radius:50%;
}
