@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");

/* CSS Variables */
:root {
  --primary: #141318;
  --dark: #f7f7f7;
  --light: #2b2a2a;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.container-2{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-2 input#search:focus, .container-2 input#search:active{
  outline:none;
  width: 300px;
}

.container-2:hover input#search{
width: 300px;
}

.container-2:hover .icon{
  color: #93a2ad;
}
.container-2 input#search{
  width: 50px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #262626;
  padding-left: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;

  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
}
.container-2 input#search::-webkit-input-placeholder {
   color: #65737e;
}

.container-2 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}

.container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}

.container-2 input#search:-ms-input-placeholder {  
   color: #65737e;  
}
.container-2 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

body {
  background: #0d0d0e;
  margin: 30px 50px;
  line-height: 1.4;
}

.btn {
  background: #01082c;
  color: white;
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  box-shadow: var(--shadow);
}
.bt0 {
  color: white;
  font-weight: bold;
  }

img {
  max-width: 100%;
  display: block;
  transition: all .3s ease;
}

img:hover {
  transform: scale(1.2);
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

/* Navigation */
.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}



.main-nav a {
  background: var(--primary);
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  text-align: center;
  color: var(--dark);
  text-transform: uppercase;
  font-size: 1rem;
  box-shadow: var(--shadow);
  font-weight: bold;
  font-family: Tomorrow, sans-serif;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  transition: 0.2s ease;
}

.main-nav a:hover {
  background: rgb(24, 74, 167);
  transform: scale(1.13);
}

.showcase a:hover {
  background: rgb(24, 74, 167);
}


/* Top Container */
.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
}

/* Showcase */
.showcase {
  grid-area: showcase;
  min-height: 400px;
  padding: 3rem;
  background-size: 517px 500px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: var(--shadow);
}

.showcase {
  background: linear-gradient(-45deg, #00106b, #5f0068, #3100a5, #14ee00 );
  background-size: 300% 300%;
  animation: gradient 10s ease infinite;
  height: 50vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: black ;
  text-shadow: 0 0 0.1em #ff0000;
  font-style: italic;
  font-family: Tomorrow, sans-serif;
}

.showcase p {
  font-size: 1.6rem;
  margin-top: 0;
  color: #e7acac;
  font-weight: bold;
  font-family: Tomorrow, sans-serif;
  text-transform: uppercase;
  text-shadow: -1px -1px rgb(190, 29, 29), 1px 1px #333;
}

/* Top Box */
.top-box {
  background: var(--primary);
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: var(--shadow);
  padding: 1.5rem;
}

.top-box .price {
  font-size: 2.5rem;
}

.top-box-a {
  grid-area: top-box-a;
}


.top-box-b {
  grid-area: top-box-b;
}

/* Boxes */
.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
}

.boxes :hover {
  background: -webkit-linear-gradient(to right, #140158, #35004e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #140158, #35004e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: 0.2s ease;
}

.box {
  background: black;
  text-align: center;
  padding: 5rem 2rem;
  box-shadow: var(--shadow);
}
.box p {
  color: lightyellow;
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
  }

  /* Boxes */


.box2 {
  background: black;
  text-align: center;
  padding: 0.5rem 2rem;
  box-shadow: var(--shadow);
}
.box2 p {
  color: lightyellow;
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
  }


/* Info */
.info {
  background: black;
  box-shadow: var(--shadow);
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.2rem;
}
.info h2 {
  text-align: center;
  text-shadow: 0 0 0.1em #ff0000;
  font-size: 2rem;
  font-family: Tomorrow, sans-serif;
  font-weight: bold;
  }
.info p{
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
  text-shadow: 0 0 0.1em #ff0000;
  text-align: center;
  }
 /* Portfolio */
.portfolio {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.portfolio img {
  width: 100%;
  box-shadow: var(--shadow);
}

.portfolio :hover {
  background: -webkit-linear-gradient(to right, #140158, #35004e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #140158, #35004e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: 0.2s ease;
}
  


/* Footer */
footer {
  margin-top: 2rem;
  color: white;
  text-align: center;
  padding: 0rem;
}

/* Media Queries */
@media (max-width: 700px) {
  .top-container {
    grid-template-areas:
      'showcase showcase'
      'top-box-a top-box-b';
  }
  
.showcase h1 {
    font-size: 2.5rem;
  }

  .main-nav ul {
    grid-template-columns: 1fr;
  }

  .boxes {
    grid-template-columna: 1fr;
  }
  
  .info {
    grid-template-columns: 1fr;
  }
  
  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 500px) {
  .top-container {
    grid-template-areas:
      'showcase'
      'top-box-a'
      'top-box-b';
  }
}

.sub-menu{
    display: none;
}
.main-nav ul li:hover .sub-menu{
  display: block;
  position: absolute;
  background-color: black;
  padding: 2px 2px;

}
.main-nav ul li:hover .sub-menu ul{
    /* display: block; */
    display: block;
    margin: 4px;
}
.logo { 
  background-color: #060220;

}
.logo img {
  width: 50px;
  height: 50px;
  border-radius:50%; 
 -moz-border-radius:50%; 
 -webkit-border-radius:50%;
}

.info {
    background: linear-gradient(270deg, #9d0090, #34005d, #0e005c, #654cea, #5f004b);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    -o-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
