@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");

body {
  background: url(https://wallpaperaccess.com/full/340554.png);
  margin: 30px 50px;
  line-height: 1.4;
  background-size: cover;
}

/* CSS Variables */
:root {
  --primary: #141318;
  --dark: #f7f7f7;
  --light: #2b2a2a;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

  

.wrapper {
  display: grid;
  grid-gap: 20px;
}

/* Navigation */
.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}


.main-nav a:hover {
  background: darkblue;
  transform: scale(1.13);
}



footer {
  margin-top: 30rem;
  color: black;
  text-align: center;
  padding: 0rem 1.2rem;
  font-size: 1.2rem;
  font-weight: bold;

}

@media (max-width: 700px) { 
  
.main-nav ul {
    grid-template-columns: 1fr;
  }
.main-nav ul {
    grid-template-columns: 1fr;
  }
.info { grid-template-columns: 1fr; }
.info .btn {
    display: block; 
    text-align: center; 
    margin: auto; 
    }
}


.link {
  display: grid;
  grid-gap: 20px;
  padding: 0rem;
  list-style: none;
  margin-top: 3rem;
  grid-template-columns: repeat(1, 1fr);
}

.link a {
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 2rem;
  box-shadow: 0 0 0.1em #000000;
  width: 300px;
  margin: auto;
  font-weigth: bold;
  font-style: italic;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.link a:hover {
  transform: scale(1.13);
  background: rgb(104, 94, 250);
  transition: 0.1s ease;
  
}

.avatar img {
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20rem;
  width: 200px;
  border-width: 5px;
  border-color: #5000db;
  border-style: dashed;
}
h1 {
  font-family: Tomorrow, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  text-shadow: 0 0 0.5em #8f0707;
  
}

.boxes {
  display: block;
  box-shadow: 0 0 1em 	#5e5e5e;
  padding: 1rem;
  background: #111111;
  
  
}
.box {
  overflow: auto;
}
.img2 {
  float: left;
}
.bt0{
  font-size: 25px;
  font-weight: bold;
  font-family: Tomorrow, sans-serif;
  color: white;
}
.box p {
  text-indent: 20px;
  font-size: 20px;
  text-decoration: none;
  background: #1c1c1c;
}

.box a {
  text-indent: 20px;
  font-size: 20px;
  text-decoration: none;
  color: white;
}



.sub-menu{
    display: none;
}
.main-nav ul li:hover .sub-menu{
  display: block;
  position: absolute;
  background-color: black;
  padding: 2px 2px;

}
.main-nav ul li:hover .sub-menu ul{
    /* display: block; */
    display: block;
    margin: 4px;
}


.logo { 
  background-color: #060220;

}
.logo img {
  width: 50px;
  height: 50px;
  border-radius:50%; 
 -moz-border-radius:50%; 
 -webkit-border-radius:50%;
}

.main-nav a {
  background: var(--primary);
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  text-align: center;
  color: var(--dark);
  text-transform: uppercase;
  font-size: 1rem;
  box-shadow: var(--shadow);
  font-weight: bold;
  font-family: Tomorrow, sans-serif;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  transition: 0.2s ease;
}
