@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");


/* CSS Variables */
:root {
  --primary: #31ebd8;
  --dark: #f7f7f7;
  --light: #3d3d3d;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

body {
  background: url(https://wallpaperaccess.com/full/340554.png);
  margin: 30px 50px;
  line-height: 1.4;
  background-size: cover;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

/* Navigation */
.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
}
.main-nav a {
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: Black;
  text-transform: uppercase;
  font-size: 1.5rem;
  box-shadow: var(--shadow);
  font-weight: bold;
  font-family: Tomorrow, sans-serif;
}

.main-nav a:hover {
  background: var(--dark);
  color: var(--light);
}



footer {
  margin-top: 30rem;
  color: black;
  text-align: center;
  padding: 0rem 1.2rem;
  font-size: 1.2rem;
  font-weight: bold;

}

@media (max-width: 700px) { 
  
.main-nav ul {
    grid-template-columns: 1fr;
  }
.main-nav ul {
    grid-template-columns: 1fr;
  }
.info { grid-template-columns: 1fr; }
.info .btn {
    display: block; 
    text-align: center; 
    margin: auto; 
    }
}


.link {
  display: grid;
  grid-gap: 20px;
  padding: 0rem;
  list-style: none;
  margin-top: 3rem;
  grid-template-columns: repeat(1, 1fr);
}

.link a {
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 2rem;
  box-shadow: 0 0 0.1em #000000;
  width: 300px;
  margin: auto;
  font-weigth: bold;
  font-style: italic;
}


.avatar img {
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20rem;
  width: 200px;
  border-width: 5px;
  border-color: #5000db;
  border-style: dashed;
}
h1 {
  font-family: Tomorrow, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  text-shadow: 0 0 0.5em #8f0707;
  
}
