header {
               
    background-color:lightskyblue
}

    header #logo {
    
    background-color:khaki;
    
}
header ul{
            
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

header li{
    
    float: left ; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 150px;
    padding-right: 50px;
}
header nav ul a {

            
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter ;
    color: black;
    text-decoration: none;
}
    
header nav {
   
    color:black;
    background-color:darkorange;
    font-size: 20px;
    
}
nav a:hover,a:active{
    background-color:darkblue;}

section table{
        width: 80%;}

section table,td,th{
        
        text-align: center;
        border:2px solid black;
        border-collapse: collapse;
    }

section h1,h2,h3,h4,h5{
    color:darkblue;
     font-style: italic;
    font-size: 40px; 
    font-weight: bolder;
}
footer {
    background-color:yellow;
    text-align: left;
    font-weight: bold;
}
