header { 
  background-color:lightgoldenrodyellow;
}
header #logo { 
  background-color:darkred;
}
 img {
  border-radius:50%; 
 -moz-border-radius:50%; 
 -webkit-border-radius:50%;
}
header ul{ 
  list-style-type: none; 
  padding: 0; 
  overflow: hidden;
} 
header li{ 
  float: left ; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  padding-left: 150px; 
  padding-right: 50px;
}
header nav ul a { 
  font-family:'Times New Roman', Times, serif; 
  font-weight: lighter ; 
  color: white; 
  text-decoration: none;
} 
header nav { 
  background-color:darkslateblue; 
  font-size: 30px; 
}
nav a:hover,a:active{ 
  background-color:darkorange;
}
h1 {
  color: white;
}
h2 {
  font-size: 20px;
}
body {
   height: 100%;
    background-image: url("http://1.bp.blogspot.com/-uSZ3ZJOhumY/U3yx6xTy6sI/AAAAAAAAAx4/sO4g8LIzQE4/s1600/H%25C6%25B0%25E1%25BB%259Bng+d%25E1%25BA%25ABn+%25C4%2591%25E1%25BA%25B7t+background+image+repeat+cho+web+-+3.png.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
p {
  font-family:'Time New Roman';
  font-size: 20px;
  color: white;
}
